<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.secondhand.mapper.HomeProductMapper">
    <resultMap id="BaseResultMap" type="com.zz.secondhand.entity.Product">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="VARCHAR" property="user.id" />
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="image" jdbcType="VARCHAR" property="image" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="price" jdbcType="VARCHAR" property="price" />
        <result column="style" jdbcType="VARCHAR" property="style" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="qq" jdbcType="VARCHAR" property="user.qq" />
    </resultMap>
    <insert id="createProduct" parameterType="java.lang.Integer">
        insert into homeproduct( product_id) values(#{id})
    </insert>

    <select id="queryHomeProduct" resultType="com.zz.secondhand.vo.ProductVo">
        select product.id,user_id,createtime,title,image,description,price,style,type ,status from homeproduct  left join  product on homeproduct.product_id =product.id
        <where>
            <if test="title!=null and title!=''">
                title LIKE CONCAT (#{title},'%')
            </if>
        </where>
        limit #{page},#{limit}
    </select>
    <select id="queryHomeProduct2" resultMap="BaseResultMap" >
        select product.id,user_id,createtime,title,product.image,description,price,style,type ,qq,status from homeproduct  left join  product on homeproduct.product_id =product.id left join user on product.user_id=user.id
    </select>
    <select id="queryCount" resultType="java.lang.Integer">
        select count(*) from homeproduct  left join  product on homeproduct.product_id =product.id
    </select>
    <select id="findproductbyproductid" resultType="java.lang.Integer">
        select count(*) from homeproduct where product_id=#{id}
    </select>
    <delete id="deleteProduct" parameterType="java.lang.Integer">
        DELETE FROM homeproduct where product_id=#{id}
    </delete>
</mapper>