<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.secondhand.mapper.OrderFormMapper">
    <resultMap id="BaseResultMap" type="com.zz.secondhand.entity.OrderForm">
        <result column="order_form.id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="VARCHAR" property="user.id" />
        <result column="business_id" jdbcType="VARCHAR" property="business.id" />
        <result column="product_id" jdbcType="VARCHAR" property="product.id" />
        <result column="title" jdbcType="VARCHAR" property="product.title" />
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
        <result column="order_form.status" jdbcType="VARCHAR" property="status" />
        <result column="ordernember" jdbcType="VARCHAR" property="ordernember" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="address" jdbcType="VARCHAR" property="address" />
    </resultMap>

    <insert id="createOrdder" parameterType="com.zz.secondhand.entity.OrderForm">
        insert into order_form(user_id,business_id,product_id,createtime,status,ordernember,name,phone,address)
        values(#{user.id},#{business.id},#{product.id}, #{createtime},#{status}, #{ordernember},#{name},#{phone},#{address})
    </insert>

    <update id="updateOrderBynumber" >
        update order_form set status=#{status} where ordernember=#{ordernember}
    </update>

    <select id="queryOrderFormByUserId" resultMap="BaseResultMap">
    select order_form.id,order_form.user_id,product_id,product.title,order_form.createtime,order_form.status,ordernember,name,phone,address from order_form join product on product_id= product.id where order_form.user_id=#{user_id}
    </select>

    <select id="queryOrderFormByBusinessId" resultMap="BaseResultMap">
        select order_form.id,order_form.user_id,product_id,product.title,order_form.createtime,order_form.status,ordernember,name,phone,address from order_form join product on product_id= product.id where order_form.business_id=#{business_id}
    </select>




    <update id="updateBuyerOrd" parameterType="com.zz.secondhand.vo.SellerOrdVo"  >
        update product_ord set user_id=#{user_id},product_id=#{product_id},createtime=#{createtime},status=#{status},address=#{address} where id=#{id}
    </update>
    <select id="querySellerOrd" resultMap="TwoResultMap">
        select product_ord.id,user.realname, product_ord.user_id,product.title,product_id,product.price,product_ord.createtime,product_ord.status,ordernember,address
        from product_ord  LEFT JOIN product on product_id =product.id left join user on product_ord.user_id =user.id
        <where>
            <if test="ordernember!=null and ordernember !=''">
                ordernember LIKE CONCAT(#{ordernember},'%')
            </if>
        </where>
        limit #{page},#{limit}
    </select>
    <select id="queryAllCount" resultType="java.lang.Integer">
        select count(*) from product_ord
    </select>
    <delete id="deletebuyerord" parameterType="java.lang.Integer">
        DELETE FROM product_ord where id=#{id}
    </delete>

    <resultMap id="TwoResultMap" type="com.zz.secondhand.entity.ProductOrd">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="realname" jdbcType="VARCHAR" property="user.realname" />
        <result column="user_id" jdbcType="INTEGER" property="user.id" />
        <result column="title" jdbcType="VARCHAR" property="product.title" />
        <result column="price" jdbcType="VARCHAR" property="product.price" />
        <result column="product_id" jdbcType="INTEGER" property="product.id" />
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="ordernember" jdbcType="VARCHAR" property="ordernember" />
        <result column="address" jdbcType="VARCHAR" property="address" />
    </resultMap>

</mapper>