<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.secondhand.mapper.ProductOrdMapper">

    <insert id="createProductOrd" parameterType="com.zz.secondhand.entity.ProductOrd">
        insert into product_ord(user_id,product_id,createtime,status,ordernember,address) values(#{user.id},#{product.id}, #{createtime},#{status}, #{ordernember},#{address})
    </insert>
    <select id="findProductOrdById" resultMap="BaseResultMap">
    select id,user_id,product_id,createtime,status,ordernember,address from product_ord  where product_id=#{product_id}
    </select>
    <select id="findProductOrdByUserId" resultMap="BaseResultMap">
        select product_ord.id,product_ord.user_id,product_id,product.title,product_ord.createtime,product_ord.status,ordernember,address from product_ord join product on product_id= product.id where product_ord.user_id=#{user_id}
    </select>
    <update id="updateProductOrdBynumber" >
        update product_ord set status=#{status} where product_id=#{ordnumber}
    </update>
    <update id="updateBuyerOrd" parameterType="com.zz.secondhand.vo.SellerOrdVo"  >
        update product_ord set user_id=#{user_id},product_id=#{product_id},createtime=#{createtime},status=#{status},address=#{address} where id=#{id}
    </update>
    <select id="querySellerOrd" resultMap="TwoResultMap">
        select product_ord.id,user.realname, product_ord.user_id,product.title,product_id,product.price,product_ord.createtime,product_ord.status,ordernember,address from product_ord  LEFT JOIN product on product_id =product.id left join user on product_ord.user_id =user.id
    </select>
    <select id="queryAllCount" resultType="java.lang.Integer">
        select count(*) from product_ord
    </select>
    <delete id="deletebuyerord" parameterType="java.lang.Integer">
        DELETE FROM product_ord where id=#{id}
    </delete>
    <resultMap id="BaseResultMap" type="com.zz.secondhand.entity.ProductOrd">
        <result column="product_ord.id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="VARCHAR" property="user.id" />
        <result column="product_id" jdbcType="VARCHAR" property="product.id" />
        <result column="title" jdbcType="VARCHAR" property="product.title" />
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
        <result column="product_ord.status" jdbcType="VARCHAR" property="status" />
        <result column="ordernember" jdbcType="VARCHAR" property="ordernember" />
        <result column="address" jdbcType="VARCHAR" property="address" />
    </resultMap>
    <resultMap id="TwoResultMap" type="com.zz.secondhand.entity.ProductOrd">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="realname" jdbcType="VARCHAR" property="user.realname" />
        <result column="user_id" jdbcType="INTEGER" property="user.id" />
        <result column="title" jdbcType="VARCHAR" property="product.title" />
        <result column="price" jdbcType="VARCHAR" property="product.price" />
        <result column="product_id" jdbcType="INTEGER" property="product.id" />
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="ordernember" jdbcType="VARCHAR" property="ordernember" />
        <result column="address" jdbcType="VARCHAR" property="address" />
    </resultMap>

</mapper>