<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.secondhand.mapper.ProductMapper">
     <resultMap id="BaseResultMap" type="com.zz.secondhand.entity.Product">
         <result column="id" jdbcType="INTEGER" property="id" />
         <result column="user_id" jdbcType="VARCHAR" property="user.id" />
         <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
         <result column="title" jdbcType="VARCHAR" property="title" />
         <result column="image" jdbcType="VARCHAR" property="image" />
         <result column="description" jdbcType="VARCHAR" property="description" />
         <result column="price" jdbcType="VARCHAR" property="price" />
         <result column="style" jdbcType="VARCHAR" property="style" />
         <result column="type" jdbcType="VARCHAR" property="type" />
         <result column="status" jdbcType="VARCHAR" property="status" />
         <result column="qq" jdbcType="VARCHAR" property="user.qq" />
    </resultMap>
    <insert id="createProduct" parameterType="com.zz.secondhand.entity.Product">
        insert into product( user_id,createtime,title,image, description, price,style,type, status) values(#{user.id}, #{createtime},#{title}, #{image}, #{description}, #{price}, #{style}, #{type}, #{ status})
    </insert>
    <select id="findProductByType" resultMap="BaseResultMap">
        select product.id,user_id,createtime,title,product.image, description, price,style,type, status,qq from product  join user  on product.user_id=user.id where type=#{type} and user_id =#{user_id}
    </select>
<select id="queryAllCount" resultType="java.lang.Integer" parameterType="java.lang.String">
    select count(*) from product where style=#{style}
</select>
    <select id="queryProductByStyle" resultType="com.zz.secondhand.vo.ProductVo">
        select * from product
        <where>
            <if test="style!=null">
                style=#{style}
            </if>
            <if test=" id != null">
               and id=#{id}
            </if>
        </where>
         limit #{page},#{limit}
    </select>

    <select id="findProductByStyle" resultMap="BaseResultMap">
        select product.id,user_id,createtime,title,product.image, description, price,style,type, status,qq from product  join user  on product.user_id=user.id
        <where>
            <if test="style!=''and style!=null">
                style=#{style}
            </if>
        <if test="status!='' and status!=null">
            and status=#{status}
        </if>
        </where>

    </select>
    <update id="updateProductstatus" >
        update product set status=#{status} where id=#{id}
    </update>
    <update id="updateProduct" parameterType="com.zz.secondhand.entity.Product">
        update product
        <trim prefix="set" suffixOverrides=",">
            <if test="user.id!=null and user.id!='' ">
                user_id=#{user.id},
            </if>
            <if test="createtime!=null">
                createtime=#{createtime},
            </if>
            <if test="title!=null and title!=''">
                title=#{title},
            </if>
            <if test="description!=null and description!=''">
                description=#{description},
            </if>
            <if test="price!=null and price!=''">
                price=#{price},
            </if>
            <if test="type!=null and type!=''">
                type=#{type},
            </if>
            <if test="status!=null and status!=''">
                status=#{status},
            </if>
            <if test="style!=null and style!=''">
                style=#{style},
            </if>
        </trim>
        where id=#{id};
    </update>
    <delete id="deleteProduct" parameterType="java.lang.Integer">
        DELETE FROM product where id=#{id}
    </delete>
</mapper>